@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  min-height: 100vh;
  background-color: #fffcfc;
}
h3 {
  margin: 1rem;
}
label {
  white-space: nowrap;
  width: 150px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 90%;
}
.header {
  display: flex;
  justify-content: center;
  border: none;
  background-color: #b89898;
  width: 100%;
  z-index: 100;
  top: 0;
}
.header-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.header.sticky {
  position: sticky;
}
.fa-solid {
  font-size: 1rem;
}
.menu {
  margin: 1rem 0.5rem;
}
.btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  outline: none;
  border: 1px solid #b8989800;
  border-radius: 4px;
}
.desktop-menu {
  position: absolute;
  left: 0;
  top: 100%;
  padding: 0 0.5rem;
  background-color: #d9d9d9;
  width: 100%;
  border-radius: 5px;
  margin-right: 10rem;
}
.desktop-menu.hidden {
  display: none;
}
.link-item {
  background-color: #8e5757;
  margin: 0.5rem;
  border-radius: 4px;
}
.nav__link {
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  text-decoration: none;
}
section.hideSection {
  display: none;
}
a.nav__link {
  display: block;
  color: rgba(0, 0, 0, 0.519);
  font-weight: 600;
}
a.nav__link:hover {
  color: rgba(255, 255, 255, 0.519);
}
.title {
  padding-right: 1rem;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 4rem;
}
.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  /* max-width: 960px; */
  padding: 0.5rem;
}
img {
  object-fit: cover;
}
.subheading {
  width: 100%;
}
.page-title {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.page-title p {
  font-size: 0.8rem;
  font-weight: 600;
  flex: auto;
  margin-top: 1rem;
  text-align: left;
}

.subtitle {
  max-width: 600px;
  background-color: #d9d9d9;
  border-radius: 4px;
  padding-left: .5rem;
  flex-grow: 4;
}
.booking {
  /* flex: .5 .2; */
  width: 80px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
  background-color: rgba(190, 187, 187, 0);
  flex: 1;
}
.card {
  display: flex;
  flex-basis: 450px;
  flex-direction: column;
  position: relative;
  margin: 1rem 0;
  border-radius: 5px;
  background-color: #d9d9d9;
  overflow: hidden;
  flex-basis: 450px;
  max-width: 600px;
  flex-grow: 1;
}
#section--1 .card {
  max-width: 386px;
}
.card__title {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  height: 2rem;
  width: 100%;
  background-color: #771f1f71;
}
.card__img {
  max-width: 400px;
}
.card__description {
  max-width: 250px;
  flex-grow: 1;
}
.card__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(10em, 25em));
  grid-template-areas: "image" "text";
}
.card__img {
  background-color: #fff;
  grid-area: image;
  flex: 0.25;
  flex-basis: 250px;
  object-fit: cover;
}
.card__p {
  background-color: #fff;
  grid-area: text;
  padding: 0.5rem;
  flex: 0.75;
  max-width: 100%;
}
.description {
  display: inline-block;
  width: 49%;
}
#section--2 {
  max-width: 600px;
  padding: 1rem;
}
#section2 .card {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
.card__image {
  min-width: 300px;
  height: 250px;
}
.price {
  margin: 1rem;
}
.card__story {
  margin-top: 1rem;
  max-width: 600px;
}
.contact-form {
  width: 100%;
  padding: 1rem;
}
.contact-form form {
  margin-top: 1rem;
  border: 1px solid #8e5757;
  padding: 1rem;
  border-radius: 4px;
}
.form-header {
  margin: .5rem;
  /* font-size: 0.8rem; */
}
.contact-form form h3 {
  margin: 1rem;
  font-size: 0.8rem;
}
.form-control {
  display: flex;
  justify-content: flex-start;
  margin: 0.2rem 1rem;
  align-items: center;
}
.form-control > input {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.75rem;
}
.form-control button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
}

.appointment {
  /* border: 1px solid red; */
  width: 100%;
  display: block;
  padding: 1rem;
  opacity: 0;
}
.card__image {
  display: flex;
  place-content: center;
  background-color: rgba(127, 255, 212, 0.432);
}
.footer {
  width: 100%;
  text-align: center;
  border: 1px solid #b89898;
  background-color: #b89898;
  padding: 2rem;
  align-self: end;
}
@media (min-width: 760px) {
  .card {
    margin-right: 1rem;
  }
 #section--2 .card {
  margin-right:0;
  position: relative;
    flex-direction: row;
  }
  .card__heading {
    position: absolute;
    top: 50%;

  }
 
  .card__price {
    width: 80%;
  }
  .page-title p {
    text-align: center;
  }
  .menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .desktop-menu {
    display: flex;
    gap: 0.5rem;
    top: 0;
    position: relative;
    /* border-radius: 4px; */
    padding: 0;
    background-color: transparent;
    margin: 1rem 0;
  }
  .link-item {
    background-color: transparent;
    margin: 0.5rem 0;
    border-radius: 4px;
  }
  .desktop-menu.hidden {
    display: flex;
  }
  .subtitle {
    flex-basis: 70%;
  }
  .btn-menu {
    display: none;
  }
 
}
@media (max-width: 480px) {
  .form-control {
    flex-wrap: wrap;
  }
}
